@accent: #6b6562;
@butter: #c5a578;
@top: 63px;

.do-transition(@duration:0.3s) {
  transition: all @duration ease-in;
}
html,body {
    -webkit-overflow-scrolling : touch !important;
    overflow: auto !important;
    height: 100% !important;
}
body {
  font-family: 'Libre Baskerville', sans-serif;
  background-color: @butter;
  margin: 0 auto;
}

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: @accent;
  text-align: center;
  padding: 10px 0;
  color: #FFF;
  h1 {
    margin: 0 auto;
    font-size: 1.5em;
  }
}

.body-wrapper {
  padding-top: @top;
  padding-bottom: 5px;
  min-height: calc(100vh - @top);
}

form {
  .input-wrap {
    border-radius: 20px;
    border: 1px solid lighten(@accent, 10%);
    width: 85%;
    margin: 0 auto;
    padding: 8px 10px;
    display: flex;
    input {
      font-size: 16px;
      padding: 0;
      border: 0;
      margin-left: 10px;
      background-color: transparent;
      width: 100%;
      color: #FFF;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  opacity: 0;
  &.active {
    .do-transition();
    opacity: 1;
  }

  > p {
    text-align: center;
    color: #FFF;
  }

  li {
    padding: 5px 10px;
    // border-top: 5px solid lighten(@accent, 10%);
    .card {
      border-radius: 10px;
      background: #FFF;
      padding: 20px;
      color: #000;
      h5 {
        margin: 0;
        .tag {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.flex-wrap {
  display: flex;
  // justify-content: flex-start;
  .flex-item:nth-child(1) {
    align-self: center;
    margin-right: 15px;
  }

}

hr {
  height: 3px;
  border: 0;
  width: 70%;
}

p {
  line-height: 1.5em;
}
