$primary: #6b6562;
$accent: #c5a578;

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: $primary, 
  accent: $accent 
));

@include md-register-theme("reverse", (
  primary: $accent, 
  accent: $primary 
));

@include md-register-theme("reverse-dark", (
  primary: $accent, 
  accent: $primary,
  theme: dark
));


@import "~vue-material/dist/theme/all";

/*
  mixins
*/

@mixin transition() {
  transition: .3s all ease-in;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
    @include transition();
  }

  &:-moz-placeholder {
    color: $color;
    @include transition();
  }

  &::-moz-placeholder {
    @include transition();
    color: $color;
  }

  &:-ms-input-placeholder {
    @include transition();
    color: $color;
  }
}