$primary: #6b6562;
$accent: #ef5350; //#c5a578;
$nav-height: 56px;
$full-height: calc(100% - 56px);

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: $primary, 
  accent: $accent 
));

@include md-register-theme("default-dark", (
  primary: $primary, 
  accent: $accent ,
  theme: dark
));

@include md-register-theme("reverse", (
  primary: $accent, 
  accent: $primary 
));

@include md-register-theme("reverse-dark", (
  primary: $accent, 
  accent: $primary,
  theme: dark
));

@import "~vue-material/dist/theme/all";

body {
  // background-color: $primary;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
}

.container {
  padding: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-page-wrapper {
  flex: 1;
  padding-top: $nav-height;
  position: relative;
}

// .app-page {
//   height: 100%;
// }

@import "~vue-material/dist/theme/all";

/*
  mixins
*/

@mixin transition() {
  transition: .3s all ease-in;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
    @include transition();
  }

  &:-moz-placeholder {
    color: $color;
    @include transition();
  }

  &::-moz-placeholder {
    @include transition();
    color: $color;
  }

  &:-ms-input-placeholder {
    @include transition();
    color: $color;
  }
}

/* placeholders  */

%full-page {
  height: $full-height;
  top: $nav-height;
}
